<div class="rounded-xl border bg-card text-card-foreground shadow max-w-[450px] w-full mx-auto mt-20">
  <div class="flex flex-col space-y-1.5 p-6">
    <img alt="logo" loading="lazy" class="mx-auto mb-2 w-16 h-16 rounded-full" src="https://gravatar.com/avatar" />
    <h3 class="font-semibold leading-none tracking-tight text-center">Bine ai venit!</h3>
    <p class="text-sm text-muted-foreground text-center">Introduce email-ul și parola pentru autentificare</p>
    <div class="flex justify-between my-8">
      <div>
        <strong>Admin User:</strong>
        <small class="block">Username: <strong>atuny0</strong></small>
        <small class="block">Password: <strong>9uQFF1Lh</strong></small>
      </div>
      <div>
        <strong>Simple User:</strong>
        <small class="block">Username: <strong>kminchelle</strong></small>
        <small class="block">Password: <strong>0lelplR</strong></small>
      </div>
    </div>
  </div>

  <div class="p-6 pt-0">
    <app-login-form />
  </div>
</div>
