<section class="mb-20">
  <div class="mb-9 bg-slate-300 h-[400px] rounded-lg flex justify-center items-center">
    <h1 class="text-4xl font-bold">Welcome to the homepage</h1>
  </div>

  <div class="col-span-4">
    <h2 class="text-2xl font-semibold mb-6">Products</h2>

    <div class="grid grid-cols-5 gap-5 mb-20">
      <article class="text-lg border rounded-lg p-4">
        <span class="bg-gray-500 h-[240px] w-full block mb-3"> </span>
        <a href="#">Product name</a>

        <div class="flex gap-3 mt-4">
          <button class="w-full button button__primary">Īn coș</button>
          <button class="w-full button button__primary">La favorite</button>
        </div>
      </article>
      <article class="text-lg border rounded-lg p-4">
        <span class="bg-gray-500 h-[240px] w-full block mb-3"> </span>
        <a href="#">Product name</a>

        <div class="flex gap-3 mt-4">
          <button class="w-full button button__primary">Īn coș</button>
          <button class="w-full button button__primary">La favorite</button>
        </div>
      </article>
      <article class="text-lg border rounded-lg p-4">
        <span class="bg-gray-500 h-[240px] w-full block mb-3"> </span>
        <a href="#">Product name</a>

        <div class="flex gap-3 mt-4">
          <button class="w-full button button__primary">Īn coș</button>
          <button class="w-full button button__primary">La favorite</button>
        </div>
      </article>
      <article class="text-lg border rounded-lg p-4">
        <span class="bg-gray-500 h-[240px] w-full block mb-3"> </span>
        <a href="#">Product name</a>

        <div class="flex gap-3 mt-4">
          <button class="w-full button button__primary">Īn coș</button>
          <button class="w-full button button__primary">La favorite</button>
        </div>
      </article>
      <article class="text-lg border rounded-lg p-4">
        <span class="bg-gray-500 h-[240px] w-full block mb-3"> </span>
        <a href="#">Product name</a>

        <div class="flex gap-3 mt-4">
          <button class="w-full button button__primary">Īn coș</button>
          <button class="w-full button button__primary">La favorite</button>
        </div>
      </article>
      <article class="text-lg border rounded-lg p-4">
        <span class="bg-gray-500 h-[240px] w-full block mb-3"> </span>
        <a href="#">Product name</a>

        <div class="flex gap-3 mt-4">
          <button class="w-full button button__primary">Īn coș</button>
          <button class="w-full button button__primary">La favorite</button>
        </div>
      </article>
      <article class="text-lg border rounded-lg p-4">
        <span class="bg-gray-500 h-[240px] w-full block mb-3"> </span>
        <a href="#">Product name</a>

        <div class="flex gap-3 mt-4">
          <button class="w-full button button__primary">Īn coș</button>
          <button class="w-full button button__primary">La favorite</button>
        </div>
      </article>
      <article class="text-lg border rounded-lg p-4">
        <span class="bg-gray-500 h-[240px] w-full block mb-3"> </span>
        <a href="#">Product name</a>

        <div class="flex gap-3 mt-4">
          <button class="w-full button button__primary">Īn coș</button>
          <button class="w-full button button__primary">La favorite</button>
        </div>
      </article>
      <article class="text-lg border rounded-lg p-4">
        <span class="bg-gray-500 h-[240px] w-full block mb-3"> </span>
        <a href="#">Product name</a>

        <div class="flex gap-3 mt-4">
          <button class="w-full button button__primary">Īn coș</button>
          <button class="w-full button button__primary">La favorite</button>
        </div>
      </article>
      <article class="text-lg border rounded-lg p-4">
        <span class="bg-gray-500 h-[240px] w-full block mb-3"> </span>
        <a href="#">Product name</a>

        <div class="flex gap-3 mt-4">
          <button class="w-full button button__primary">Īn coș</button>
          <button class="w-full button button__primary">La favorite</button>
        </div>
      </article>
    </div>
  </div>
</section>
