<form (ngSubmit)="updateProfile()" [formGroup]="profileData" method="post" class="grid grid-cols-2 gap-5">
  <div class="space-y-0">
    <label
      for="username"
      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
    >
      Username
    </label>
    <input
      class="input"
      autocomplete="username"
      formControlName="username"
      placeholder="john.doe"
      required
      type="text"
      id="username"
    />
  </div>
  <div class="space-y-0">
    <label
      for="firstName"
      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
    >
      First Name
    </label>
    <input
      class="input"
      autocomplete="name"
      formControlName="firstName"
      placeholder="John"
      type="text"
      id="firstName"
    />
  </div>
  <div class="space-y-0">
    <label
      for="lastName"
      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
    >
      Last Name
    </label>
    <input
      class="input"
      autocomplete="family-name"
      formControlName="lastName"
      placeholder="Doe"
      type="text"
      id="lastName"
    />
  </div>
  <div class="space-y-0">
    <label
      for="phone"
      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
    >
      Phone number
    </label>

    <input
      class="input"
      autocomplete="tel"
      formControlName="phone"
      placeholder="+373********"
      type="tel"
      appMask
      id="phone"
    />
  </div>
  <div class="space-y-0">
    <label
      for="email"
      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
    >
      Email
    </label>
    <input
      class="input"
      autocomplete="email"
      formControlName="email"
      placeholder="example@example.com"
      type="email"
      id="email"
    />
  </div>
  <div class="space-y-0">
    <label
      class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
      for="password"
    >
      Parola
    </label>
    <div class="relative">
      <input
        class="input"
        autocomplete="current-password"
        placeholder="••••••••••••"
        required
        [type]="showPassword() ? 'text' : 'password'"
        formControlName="password"
        id="password"
      />
      @if (showPassword()) {
      <lucide-icon
        (click)="showPassword.set(false)"
        class="cursor-pointer absolute top-1/2 -translate-y-1/2 right-2 text-gray-200"
        name="eye-off"
      />
      }@else{
      <lucide-icon
        (click)="showPassword.set(true)"
        class="cursor-pointer absolute top-1/2 -translate-y-1/2 right-2 text-gray-300"
        name="eye"
      />
      }
    </div>
  </div>

  <button [disabled]="userService.isLoading()" class="button button__primary col-span-2" type="submit">
    @if (userService.isLoading()) {
    <lucide-icon class="w-5 animate-spin" name="loader2" />
    } Modifică informația
  </button>
</form>
